<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/realTimeProducts">Real Time Products</a></li>
      <li><a href="/api/chat">Chat</a></li>
      <li><a href="/api/products">Products</a></li>
      <li><a href="/api/sessions/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
    {{#if user}}
    <a href="/api/sessions/logout" class="btn btn-info">Salir</a>
    {{else}}
    <a href="/api/sessions/login" class="btn btn-info">Ingresar</a>
    {{/if}}
  </nav>
</header>
<main>

  <div>
    <h1>Bienvenidos a nuestra Tienda!</h1>
    <div>
      <h3>Productos</h3>
      <form action="/api/sessions/login" method="POST">
        <button type="submit">Login</button>
      </form>
    </div>
    <div>
      {{#each product}}
      <div>
        <img src={{this.thumbnail}}>
        <p>{{this.title}}</p>
        <p>$ {{this.price}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</main>