<section class="section_account">
    <h1>Ingresar</h1>

    <form action="/api/sessions/login" method="POST" class="form-group">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button class="btn btn-primary" type="submit">Iniciar sesion</button>
    </form>
    <br>
    <a href="/api/sessions/github" class="btn btn-dark"><i class="fa-brands fa-github"></i></a>
    <br>
        <a><strong>No tenes una cuenta? </strong></a>
        <br>
        <a href="/api/sessions/register" class="link-signup"><button class="btn btn-primary" type="submit">Registrate</button></a>
</section>