<div class="register-container">
    <section class="section_account">
        <h1>Crear nueva cuenta.</h1>

        <form action="/sessions/register" method="POST" class="form-group">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="date" name="date" placeholder="Date">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button class="btn btn-primary" type="submit">Registrate</button>
        </form>

        <p>Ya tiene una cuenta? <a href="/">Iniciar Sesión</a></p>
</div>